@{
    ViewData["Title"] = "Home Page";
}
@model List<ProductsListingViewModel>
<div class="text-center">
    <h1 class="display-4">Това са най - прясно добавените продукти за продажба в нашия сайт.</h1>
    <div class="row" col-md-6>
        @foreach (var product in Model)
        {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        
                        <a asp-controller="Products"asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Повече информация!</a>
                    </div>
                </div>
        }
       
    </div>
</div>
